html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-outer-height) 1fr 5rem;
  height: 100%;
}
:root {
  --header-outer-height: 100px;
  --header-inner-height: 90px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #005288;
  --primary-color: #005288;
}
header {
  grid-area: header;
  position: sticky;
  top: calc(var(--header-height-difference) * -1);
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.header-inner {
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main {
  grid-area: main;
  /*display: flex;*/
  /*padding: 1rem;*/
}
footer {
  grid-area: footer;
  background-color: #005288;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  /*border: 0.1rem #a4a4a4 solid;*/
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
  transition: all 0.5s;
}
button.primary {
  background-color: #2ea3f2;
  color: #ffffff;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--primary-color);
  padding: 1rem;
}
a.brand {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.logo-container {
  width: 90px;
  height: 90px;
}
.logo-img {
  width: 100%;
  height: 100%;
}
header .logo-and-items {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
header a.options {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 10px;
}
@media screen and (max-width: 1024px) {
  header a.options {
    display: none;
  }
  header .icon-cart .search-container {
    display: none;
  }
}
.right-side-header {
  display: flex;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cart-d {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  order: 1;
  box-shadow: 0 4px 4px 0 rgba(48, 44, 238, 0.16),
    0 0 0 1px rgba(218, 26, 26, 0.08);
}
.card-d1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin-top: 5px;
  margin-left: 5px;
}
.card-d2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.card-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-select h5 {
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.line-vertical {
  width: 1px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgba(128, 128, 128, 0.658);
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
  margin-top: 50px;
}
.row.start {
  justify-content: flex-start;
}
.row.left {
  justify-content: left;
}
.row.align {
  justify-content: space-between;
}
.row.searchscreen {
  justify-content: flex-start !important;
}
.row.product-list {
  margin: 0 auto;
  max-width: 90%;
}
.btn-sidebar-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .row.align {
    justify-content: center;
  }
  .row.product-list {
    margin: unset;
    max-width: unset;
  }
}
.title.product-list {
  font-family: "Yeseva One", display;
  text-align: center;
  font-size: 50px;
  line-height: 1.4em;
  color: #333;
  padding: 30px;
  font-weight: 500;
  margin: 0;
}
.col-1 {
  flex: 1 1 5rem;
  padding: 3px;
  margin: 3px;
}
.col-2 {
  flex: 1 1 25rem;
  margin-left: 10px;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
  font-size: 2rem;
  font-weight: bold;
}
.p-1 {
  padding: 1rem;
}
.col-2 h1 {
  border-bottom: 0.1rem rgba(109, 124, 144, 0.247) solid;
}
/* Aside */
@media screen and (max-width: 1024px) {
  aside {
    position: fixed !important;
    width: 30rem !important;
    height: 100%;
    background-color: #efefef !important;
    z-index: 1000;
    transform: translateX(-30rem);
    transition: all 0.5s;
    top: 0;
    padding-top: 0;
  }
  aside.open {
    transform: translateX(0);
  }
  aside .item {
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 18px !important;
    padding: 1rem 1rem 0.5rem 2rem;
  }
  aside .aboutus {
    display: block !important;
  }
  aside .faq {
    display: block !important;
  }
  .aside-items {
    margin-left: 0 !important;
  }
  button.open-sidebar {
    display: inline-block !important;
    font-size: 3rem;
    padding: 0.2rem 0.5rem;
    margin: 0 1.5rem;
    background: none;
    color: rgb(104, 101, 101);
    cursor: pointer;
  }
  button.close-sidebar {
    display: inline-block !important;
    font-size: 3rem;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    background: none;
    color: rgb(104, 101, 101);
    cursor: pointer;
  }
  .categories-items-container {
    margin-left: 3.5rem !important;
    margin-top: 0rem !important;
    margin-bottom: 3rem !important;
  }
  .category-title {
    font-size: 16px !important;
  }
  aside .search-container {
    display: block !important;
  }
  aside .search-container .search .row {
    justify-content: center !important;
  }
}
aside {
  position: static;
  width: 30%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  padding: 1rem 1rem 0.5rem 2rem;
  margin: 0.3rem;
}
.aside-items {
  margin-left: 5rem;
}
aside .aboutus {
  display: none;
}
aside .faq {
  display: none;
}
aside .search-container {
  display: none;
}
button.open-sidebar {
  display: none;
}
button.close-sidebar {
  display: none;
}
.close-sidebar-container {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem;
  margin-bottom: 5rem;
}
.categories-aside-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
.categories-items-container {
  margin-left: 8rem;
  margin-top: 2.5rem;
  margin-bottom: 8rem;
}
.category-item {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category-title {
  color: #727272;
  font-size: 1.75rem;
  font-weight: 700;
}
.subcategories {
  margin-left: 1.5rem;
  font-size: 14px;
  color: #727272;
}
.linkBackHome {
  color: #2ea3f2;
  align-items: flex-start;
}
/* Image */
img {
  /*border-radius: 0.5rem;*/
}
img.small {
  max-width: 25rem;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}
img.medium {
  max-width: 25rem;
  width: 100%;
  height: 100%;
  max-height: 18.1rem;
}
img.large {
  width: 85%;
  padding-left: 55px;
  padding-top: 25px;
}

/* Card */
.card {
  border-radius: 0.5rem;
  margin: 2rem;
}
.card-body {
  /*padding: 1rem;*/
}
.card-body > * {
  /*margin-bottom: 0.5rem;*/
}
.card-title {
  font-size: 18px;
  font-weight: 700;
  color: #2f3854 !important;
  line-height: 1.4em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  text-align: left;
}
.price {
  font-size: 1.7rem;
  font-weight: 700;
  color: #2f3854 !important;
  line-height: 1.7em;
}
/* Rating */
.rating {
  font-size: 1.35rem;
}
.rating span {
  color: #2ea3f2;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
.col-1 p {
  margin-top: 1px;
}
.card-body h2 {
  margin-top: 1px;
  padding-top: 1px;
}
/* Alert */
.loading {
  display: none;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 45rem;
  margin: 50px auto;
  box-shadow: 0 4px 4px 0 rgba(48, 44, 238, 0.16),
    0 0 0 1px rgba(218, 26, 26, 0.08);
  border-radius: 5px;
  padding: 1rem;
  height: auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.form h2 {
  margin-bottom: 1px;
  padding-bottom: 1px;
}
.form input {
  background: rgba(109, 124, 144, 0.1);
}
.form input:hover {
  border: 1px solid #2ea3f2;
}
.form h1 {
  color: #2ea3f2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.titleLogin {
  align-items: center;
}
.subTitleLogin {
  align-items: center;
}
.linkRegisterUser {
  color: #2ea3f2;
}
.linkRegisterUser:hover {
  color: #005b97;
}
.icon-cart {
  padding: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 20rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.margin-top {
  margin-top: 50px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border: solid 1px rgb(153, 149, 149);
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border: solid 1px rgb(153, 149, 149);
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}
.about-title {
  margin: 0px;
  text-align: center;
  background-color: #2ea3f2;
}
.about-title h1 {
  font-size: 25px;
  color: white;
}
.about-details {
  margin-left: 15px;
  margin-right: 15px;
}
.about-details p {
  text-align: justify;
}
/* RESULTS SCREEN */
.results-container {
  width: 100%;
}
.results-container .filter {
  justify-content: center !important;
  margin: 2.5rem;
}
.results-container .results-box {
  margin-right: 3rem;
}
.results-container .filter .filter-button select {
  border: solid 1px rgb(153, 149, 149);
}

.flex-container {
  display: flex;
}
